<%- include("header", {
  title: "BMS - Classes",
  stylefile: "admin",
  role: role
}); %>
    <main>
      <section class="edit">
        <article class="users">
          <h1>Class</h1>
          <form class="editclass" action="/root/editclass/" method="POST">
            <input type="text" name="name" placeholder="Class name">
            <span class="editteacher">
              <label for=""><strong>Select class teacher</strong></label>
              <select class="" name="">
                <option value="teacher">someteacher</option>
              </select>
            </span>
            <span class="submiter">
              <button type="button" name="button" onclick="window.location.href=`/root/users`">Cancel</button>
              <button type="submit" name="button">Submit</button>
            </span>
          </form>
        </article>
        <form action="/root/messenge" method="POST">
          <div class="one">
            <span>
              <input id="user" type="checkbox" name="" value="">
              <label for="user">Username</label>
            </span>
            <span>
              <input id="user" type="checkbox" name="" value="">
              <label for="user">Username</label>
            </span>
          </div>
          <div class="one">
            <span>
              <input id="user" type="checkbox" name="" value="">
              <label for="user">Username</label>
            </span>
            <span>
              <input id="user" type="checkbox" name="" value="">
              <label for="user">Username</label>
            </span>
          </div>
          <button type="submit" name="button">Submit</button>
        </form>
      </section>
      <section class="show">
        <article class="navbar">
          <a href="/root/users">users</a>
          <a href="/root/lessons">lessons</a>
          <a href="/root/classes">classes</a>
        </article>
        <article class="showest">
          <span>
            <h3>name</h3>
            <h3>teacher</h3>
          </span>
          <% classes.forEach((trida, i) => { %>
            <span>
              <h3><%= trida.name %></h3>
              <p><%= trida.mainTeacher %>/p>
            </span>
          <% }); %>
        </article>
      </section>
    </main>
  </body>
</html>
