<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/master.css' />
  <link rel="stylesheet" href="/stylesheets/<%= stylefile %>.css">
</head>
<body>
  <header>
    <!-- <img src="" alt="logo"> -->
    <a href="/"><h1>LEVIATHAN DEV.</h1></a>
    <nav>
      <a class="" href="/student/">My School</a>
      <a class="" href="/student/marks">My Marks</a>
      <a class="" href="/elerning">E-learning</a>
      <a href="">R</a>
      <a href="/logout">Left</a>
    </nav>
  </header>
  <hr>
