<%- include("header", {
  title: "BEAM Managment System",
  stylefile: "home"
}) %>
  <main>
    <section class="uvod">
      <h1>Welcome to <strong>BEAM Managment System</strong></h1>
      <p>We are the way to do your <strong>managment of students</strong>. <br> You will know <strong>everything</strong> you need and do <strong>everything</strong> you want.</p>
      <a href="/school"><strong>My School</strong></a>
    </section>
    <section class="qasection">
        <article>
            <h1>What we do?</h1>
            <hr>
            <p>We manage your school with solution of testing your students.</p>
            <p>Show correct answer after is reched the timeout of the test.</p>
            <p>We are using one solution to know if student left tab in browser.</p>
            <p>Know what is your mark.</p>
            <!-- By class avg/test avg -->
            <p>Show if is test easy, hard or normal</p>
        </article>
        <article>
            <h1>How we do it?</h1>
            <hr>
            <p>Give own easiest way to test your student.</p>
                <p>Wait aflter is test complete.</p>
                <p>Set fullscreen mode every time student want to change tab or exit fullscreen mode.</p>
                <p>You can show own marks profile.</p>
                <p>compute test difficulty.</p>
            </article>
        </section>
        <section id="popularCompanies" class="popularCompanies">
            <a class="school">
                <img src="" alt="Logo of School">
                <p>School name</p>
            </a>
            <a class="school">
                <img src="" alt="Logo of School">
                <p>School name</p>
            </a>
            <a class="school">
                <img src="" alt="Logo of School">
                <p>School name</p>
            </a>
            <a class="school">
                <img src="" alt="Logo of School">
                <p>School name</p>
            </a>
        </section>
    </main>
        <footer>
        <article>
            <h2>Design by</h2>
            <p>This web is design by Leviathan Dev.</p>
            <p>Some text that doesn't matter.</p>
        </article>
        <article>
            <h2>Design by</h2>
            <p>This web is design by Leviathan Dev.</p>
            <p>Some text that doesn't matter.</p>
        </article>
    </footer>
  </body>
  </html>
