<%-
include("header", {
  title: title,
  stylefile: "login",
  role: role
}); %>
  <main>
    <form class="" action="/auth" method="POST">
      <h1>Přihlaste se pro pokračování...</h1>
      <input type="text" name="uid" placeholder="Zadejte E-mail">
      <input type="password" name="pwd" placeholder="Zadejte heslo">
      <button type="submit" name="button">Přihlásit se</button>
      <p>Můžete se přihlasit s heslem a emailem, které jste dostali od učitele</p>
    </form>
  </main>
</body>
</html>
