<%-
include("header", {
  title: title,
  stylefile: "login",
  role: role
}); %>
  <main>
    <form class="" action="/auth" method="POST">
      <h1>Login to continue</h1>
      <input type="text" name="uid" placeholder="Enter your email">
      <input type="password" name="pwd" placeholder="Enter your password">
      <button type="submit" name="button">Log in</button>
      <p>You can login in with your password and username, what you get from teacher.</p>
    </form>
  </main>
</body>
</html>
