<%- include("header", {
  title: "MSB - creating new exam ",
  stylefile: "new_exam",
  role: role,
}) %>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <main id="app">
    <div class="control">
      <h1><input type="text" v-model="name"></h1>
      <p>Now?<input type="checkbox" name="" id=""></p>
      <p>Max time <input type="text" v-model=""></p>
      <p>This test is for <input type="text" v-model="timout"> minutes</p>
    </div>
    <div v-for="question in questions">
      <h1>{{ question.name }}</h1>
      <select name="" id="">
        <div v-for="selectOption as option">
          <option :value="option">{{option}}</option>
        </div>
      </select>
    </div>
  </main>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        name:"",
        atleast: "",
        timeout:"",
        question:[
          {
            name: "",
            type: "",
            answers: []
          }
        ],
        selectOption: [
          "one", "more", "text"
        ]
      }
    })
  </script>
</body>
</html>
