<%- include("header", {
  title: "BMS - My School",
  stylefile: "news",
  role: role
}); %>
    <main>
      <% news_list.forEach(new_item => { %>
      <article>
        <span>
          <p><%= new_item.when %></p>
          <p><%= new_item.id_user %></p>
        </span>
        <p><%= new_item.content %></p>
      </article>
      <% }); %>
    </main>
  </body>
</html>
