<%- include("header", {
  title: title,
  stylefile: "login",
  role: 0,
}) %>
    <main>
      <form class="" action="/newacc" method="POST">
        <h1>Registrace</h1>
        <div style="display: flex; padding-right: 10px;">
          <input style="flex: 1 1" value="" type="text" name="name" placeholder="Tvé jmeno">
          <select class="" name="role">
            <option value="student">Student</option>
            <option value="teacher">Učitel</option>
          </select>
        </div>
        <input type="text" value="" name="email" placeholder="Váš email">
        <input type="password" name="pwd" placeholder="Zadejte heslo">
        <input type="password" name="pwdr" placeholder="Znovu zadejte heslo">
        <!-- <input type="text" name=""> -->
        <button type="submit" name="button">Registrovat</button>
        <p>Můžete se přihlasit s heslem a emailem, které jste dostali od učitele</p>
      </form>
    </main>
  </body>
</html>
