body{
    margin:0;
    background: rgb(252,162,0);
    background: radial-gradient(circle, rgba(252,162,0,1) 0%, rgba(157,57,8,1) 100%);
    background-color: #03c;
}
a{
    text-decoration: none;
    color: #c9c6ce;
}
.logo{
  display: flex;
  padding: 0
}
/* navigation */
header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #cc9300;
    box-shadow: 1px 1px 2px 2px #ffa500;
}
nav *{
    padding: 20px 10px;
}
nav a.onpage{
  border-bottom: 2px solid #bcbabf;
}
nav a:hover{
  background-color: #dd9f00;
  color: #0a58ca
}
nav{
    display: flex;
}
/* footer */
footer{
  background-color: black;
  color: #c2c2c2;
  text-align: center;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
}
h1{
  color: #ccc;
  text-align: center;
  align-self: center;
  margin: 0;
  text-shadow: 0px 0px 2px #fff;
}
header {
  position: fixed;
  width: 90%;
  padding: 0 5%;
  top: 0;
  left: 0;
}
.help{
  padding-top: 87px;
}
