span{
  display: flex;
  justify-content: space-between;
}
article{
  background-color: #44f;
  padding: 10px 25px;
  margin: 25px 50px;
  border-radius: 15px;
}
.author{
  font-style: italic;
  opacity: 75%
}
.time{
  opacity: 50%;
}
